/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 24px;
}


a.link-to, a.link-to:visited {
  color: rgb(233, 233, 242);
  text-decoration: none;
}

#posts {
  margin-left: 48px;
}

.post {
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: min(50%, 400px);
}

.title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.body {
  font-style: italic;
  margin-bottom: 5px;
}

.author {
  font-weight: 600;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 0.8rem;
  color: grey;
}

.buttons {
  margin-bottom: 24px;
}

.link-to {
  background-color: blue;
  border-radius: 15px;
  padding: 8px;
  margin-bottom: 5px;
}

.link-to:hover {
  background-color: rgb(37, 37, 218);
}